@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Grey+Qo&family=Play:wght@400;700&family=Playwrite+AR:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(-25deg, #2C3E50 20%, #4CA1AF);
    font-family: "Play", sans-serif;
    transition: 1s;
}
body.active
{
    animation: resplador 3s;
    background: linear-gradient(25deg, #2C3E50 20%, #4CA1AF);
}
.container {
    text-align: center;
    color: #fff;
}

.container .message
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    height: 50vh;
}
.container .message h1
{
    margin: 0;
    color: #ECF0F1;
    font-family: "Dancing Script", cursive;
    font-size: 5em;
    text-align: center;
    font-weight: 900;
    text-shadow: 0 0 1px #eaeff4,
    0 0 5px #cfdce8,
    0 0 10px #a6bfd3,
    0 0 15px #759cbb;
}
.container .message p
{
    margin: 0;
    width: 100vh;
    font-size: 16px;
    color: wheat;
    text-shadow: 0 0 5px #a1c4fd;
}
.balloons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    height: 150px;
    width: max-content;
    transform: translateX(25px);
    width: 100%;
}

.balloon {
    position: absolute;
    width: 60px;
    height: 80px;
    border-radius: 100%;
    animation: float 3s ease-in-out infinite;

}

.balloon::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 2px;
    height: 20px;
    background: #fff;
    transform: translateX(-50%);
}

.balloon1 {
    position: relative;
    animation-delay: 0s;
    background: linear-gradient(145deg, #c2e9fb, #58D68D);
    box-shadow: 0px 0px 50px #a1c4fd;
}

.balloon2 {
    position: relative;
    animation-delay: 0.5s;
    background: linear-gradient(145deg, #a1c4fd, #c2e9fb);
    box-shadow: 0px 0px 50px #a1c4fd;
}

.balloon3 {
    position: relative;
    animation-delay: 1s;
    background: linear-gradient(145deg, #fbc2eb, #a6c1ee);
    box-shadow: 0px 0px 50px #fbc2eb;
}

.balloon4 {
    position: relative;
    animation-delay: 1.5s;
    background: linear-gradient(145deg, #ffecd2, #fcb69f);
    box-shadow: 0px 0px 50px #ffecd2;
}

.balloon5 {
    position: relative;
    animation-delay: 2s;
    background: linear-gradient(145deg, #ff7e5f, #feb47b);
    box-shadow: 0px 0px 50px #ff7e5f;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes resplador {
    0%{
        background: white;
    }
    35%{
        background: #4CA1AF;
    }
    70%{
        background: #2C3E50;
    }
    100%{
        background: linear-gradient(25deg, #2C3E50 20%, #4CA1AF);
    }
}
@keyframes opaco {
    0%{
        filter: opacity(0%);
    }
    50%{
        filter: opacity(50%);
    }
    100%{
        filter: opacity(100%);
    }
}
@keyframes encender{
    0%{
        transform: translateX(-9px) translateY(-40px) scale(1);
    }
    50%{
        transform: translateX(-9px) translateY(-43px) scale(1.2);
    }
    100%{
        transform: translateX(-9px) translateY(-40px) scale(1);
    }
}
button {
    background: #1d283431;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
    font-family: "Play", sans-serif;
}

button:hover {
    background: #1d2834a9;
}

.hidden {
    display: none;
}

#surprise {
    margin-top: 20px;
}
.cart 
{
    display: none;
    height: 80%;
    width: 450px;
    padding: 1.5em;
}
.cart .texto
{
    color: #fbbf24;
    font-size: 17px;
    text-shadow: 1px 1px 1px #451a03,
    -1px -1px 1px black;
}
img.pastel
{
    display: none;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: auto;
    animation: opaco 3s;
    -webkit-mask-image: linear-gradient(to right,transparent,black,black,transparent);
}
.Belas
{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    align-items: center;
}
.Belas .BelaIzquierda
{
    position: absolute;
    left: 300px;
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 100px;
    justify-content: space-around;
    align-items: center;
}
.Belas .BelaIzquierda .Bela1
{
    width: 38px;
    height: 90px;
    background: linear-gradient(var(--color1), var(--color2));
    border-radius: 10px;
    position: relative;
    animation: opaco 3s;
}
.Belas .BelaIzquierda .Bela1::before
{
    content: '';
    position: absolute;
    left: 50%;
    width: 20px;
    height: 30px;
    background: radial-gradient(yellow,orange,yellow);
    border-radius: 50%;
    transform: translateX(-9px) translateY(-40px);
    box-shadow: 0 0 5px yellow,
    0 0 15px yellow,
    0 0 25px orange;
    animation: encender 3s infinite;
    animation-delay: var(--deley);
}
.Belas .BelaIzquierda .Bela1::after
{
    content: '';
    position: absolute;
    left: 50%;
    width: 4px;
    height: 12px;
    background: linear-gradient(black,#00000000);
    transform: translateX(-1px) translateY(-12px);
    z-index: -1;
}
.Belas .BelaDerecha
{
    position: absolute;
    right: 300px;
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 100px;
    justify-content: space-around;
    align-items: center;
}
.Belas .BelaDerecha .Bela2
{
    width: 38px;
    height: 90px;
    background: linear-gradient(var(--color2), var(--color1));
    border-radius: 10px;
    position: relative;
    animation: opaco 3s;
}
.Belas .BelaDerecha .Bela2::before
{
    content: '';
    position: absolute;
    left: 50%;
    width: 20px;
    height: 30px;
    background: radial-gradient(yellow,orange,yellow);
    border-radius: 50%;
    transform: translateX(-9px) translateY(-40px);
    box-shadow: 0 0 5px yellow,
    0 0 15px yellow,
    0 0 25px orange;
    animation: encender 3s infinite;
    animation-delay: var(--deley);
}
.Belas .BelaDerecha .Bela2::after
{
    content: '';
    position: absolute;
    left: 50%;
    width: 4px;
    height: 12px;
    background: linear-gradient(black,#00000000);
    transform: translateX(-1px) translateY(-12px);
    z-index: -1;
}
@media screen and (max-width: 768px)
{
    .container
    {
        width: var(--ancho);
        transform: scale(0.7);
    }
    .balloons {
        width: 100%;
        transform: translateX(1%)scale(0.85);
    }
    .container .message p
    {
        margin: 0;
        width: 105%;
        font-size: 16px;
        color: wheat;
        text-shadow: 0 0 5px #a1c4fd;
    }
    img.pastel
    {
        display: none;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        animation: opaco 3s;
        -webkit-mask-image: linear-gradient(to top,transparent,black,black,transparent);
    }
    .cart
    {
        transform: scale(0.9);
        align-items: center;
    }
    .cart .texto
    {
        font-size: 0.9em;
    }
    .Belas .BelaIzquierda
    {
        position: absolute;
        height: auto;
        width: 100%;
        top: 45px;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        transform: scale(0.7);
    }
    .Belas .BelaDerecha
    {
        position: absolute;
        height: auto;
        width: 100%;
        bottom: 20px;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        transform: scale(0.7);
    }
}
@media screen and (max-width: 500px)
{
    .cart .texto
    {
        font-size: 0.5em;
    }
}